apiVersion: v1
kind: Namespace
metadata:
  name: todo-api
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-api
  namespace: todo-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-api
  template:
    metadata:
      labels:
        app: todo-api
    spec:
      containers:
      - name: todo-api
        image: paulbouwer/hello-kubernetes:1.10
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: todo-api-service
  namespace: todo-api
spec:
  selector:
    app: todo-api
  ports:
  - port: 80
    targetPort: 8080
  type: NodePort
